body {
  margin: 0;
}

.zone-logo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-style: italic;
}

.zone-logo h1 {
  margin: 0;
}

.logo {
  font-size: 1rem;
  font-style: italic;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 2px solid #cdcdcd;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #eaeaea;
}

.localisation h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.localisation .fas {
  font-size: 1rem;
  margin-right: 20px;
}

.recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recherche h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.bouton {
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 2px 30px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.recherche-bouton h2 {
  font-size: 1rem;
}

.recherche-bouton {
  padding-top: 20px;
}

.fonctionnement {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titre {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

.nchoix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #9356DC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  width: 30px;
  border-radius: 100%;
  position: relative;
  top: 23px;
  right: 0;
  left: -10px;
  bottom: -10px;
}

.nchoix h2 {
  color: white;
}

.choix {
  background: #f6f6f6;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  -webkit-box-shadow: 4px 4px 6px #dfe1e1;
          box-shadow: 4px 4px 6px #dfe1e1;
  border-radius: 30px;
  margin-bottom: 20px;
}

.choix h2 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.nchoix-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nchoix-texte i {
  margin-right: 20px;
  font-size: 1.5rem;
  color: gray;
}

.liste-restaurants {
  background: #f6f6f6;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figure {
  margin: 0;
}

figure img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: white;
}

.restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}

figcaption h2 {
  font-size: 1.2rem;
  margin: 0;
}

figcaption h3 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

.footer {
  background-color: #353535;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

.footer i {
  color: white;
  padding-right: 10px;
}

.footer .logo {
  font-size: 1rem;
  color: white;
  width: 100%;
}

.footer #proposer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 2rem;
}

.footer #partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 2rem;
}

.footer #mentions-legales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 2rem;
}

.footer #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 2rem;
}
/*# sourceMappingURL=style.css.map */