@import "utils/variables";
body {
    margin: 0;
}
.header
{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-top: 10px;
    justify-content: center;
}
.logo
{
    background-color: white;
    width: 100%;
    justify-content: center;
    display: flex;
        h1 {
            margin: 0;    
        }
}

#logo
{
    font-size: 1rem;
    font-style: italic;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}
.localisation
{
    display: flex;
    height: 50px;
    justify-content: center;
    font-size: 0.7rem;
    flex-flow: wrap-reverse;
    align-content: center;
    border-top: 2px solid $colour-line;
    align-items: baseline;
    background-color: $colour-background-dark;
        h2 {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
        .fas {
            font-size: 1rem;
            margin-right: 20px;
        }

}
.recherche
{
    display:flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color:$colour-background-light;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    h2 {
        font-weight: 400;
        font-size: 1.2rem;
    }
}

.bouton
{
    background: $colour-secondary;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 30px;
    padding: 2px 30px;
    color:#ffffff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}
.recherche-bouton h2
{
    font-size: 1rem;
}
.recherche-bouton {
    padding-top: 20px;
}
.fonctionnement
{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.titre
{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}
.nchoix
{
    display :flex;
    background:$colour-primary;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    width: 30px;
    border-radius: 100%;
    position: relative;
    top: 23px;
    right: 0;
    left: -10px;
    bottom: -10px;
        h2 {
            color: white;
        }
    }
.choix
{
    background: $colour-background-light;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    box-shadow: 4px 4px 6px $colour-shadow;
    border-radius: 30px;
    margin-bottom: 20px;
        h2
        {
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            margin: 0;
        }
}
.nchoix-texte
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    i  {
        margin-right: 20px;
        font-size: 1.5rem;
        color: gray;
    }
}
.liste-restaurants
{
    background: $colour-background-light;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
figure
{
    margin: 0;
}
figure img
{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurant
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    img {
        object-fit: cover;
    }
}
figcaption
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
        h2 {
            font-size: 1.2rem;
            margin: 0;
        }
        h3 {
            font-size: 1rem;
            font-weight: lighter;
            margin: 0;
        }
}
.footer
{
    background-color: #353535;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            color: white;
            margin: 0;
        }
        i {
            color: white;
            padding-right: 10px;
        }
        #logo {
            font-size: 1rem;
            color: white;
            width: 100%;
        }
        #proposer
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            line-height: 2rem;
        }
        #partenaire
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            line-height: 2rem;
        }
        #mentions-legales
        {
            display: flex;
            justify-content: flex-start;
            line-height: 2rem;
        }
        #contact
        {
            display: flex;
            justify-content: flex-start;
            line-height: 2rem;
        }
}
/*PAGES RESTAURANTS*/
.header-restaurant
{
    background-color: white;
    display: flex;
    height: 50px;
    margin-top: 10px;
    justify-content: center;
}
.logo__restaurant
{
    background-color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    h1 {
        margin: 0;
    }
}
#logo__restaurant
{
    font-size: 1rem;
    font-style: italic;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    display: flex;
    align-items: center;
        i {
            position: absolute;
            top: 27px;
            left: 36px;
        }
}
.fond-restaurant
{
        img
        {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
}
.restaurant-menu
{
    background-color: $colour-background-light;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    top: -50px;
    padding-top: 20px;
}
#restaurant-titre
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    padding-left: 15px;
    padding-right: 30px;
}
#titre-entree
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding-left: 15px;
    h2 {
        font-weight: lighter;
        border-bottom: 3px solid $colour-tertiary;
        width: 50px;
    }
}
.fa-heart
    {
        font-size: 1.5rem;
    }
.entree
{
    background-color: white;
    border-radius: 15px;
    font-weight: 100;
    height: 53px;
    margin: 10px;
    padding: 10px;
    h2 {
        font-size: 1.2rem;
        margin: 0;
    }
    h3
    {
        font-size: 0.8rem;
        margin: 0;
        font-weight: 300;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}
.p2prix
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
#titre-plats
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding-left: 15px;
    h2 {
        font-weight: lighter;
        border-bottom: 3px solid $colour-tertiary;
        width: 50px;
    }
}
.plats
{
    background-color: white;
    border-radius: 15px;
    font-weight: 100;
    height: 53px;
    margin: 10px;
    padding: 10px;
    h2 {
        font-size: 1.2rem;
        margin: 0;
    }
    h3
    {
        font-size: 0.8rem;
        margin: 0;
        font-weight: 300;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}
#titre-desserts
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding-left: 15px;
    h2 {
        font-weight: lighter;
        border-bottom: 3px solid $colour-tertiary;
        width: 50px;
    }
}
.desserts
{
    background-color: white;
    border-radius: 15px;
    font-weight: 100;
    height: 53px;
    margin: 10px;
    padding: 10px;
    h2 {
        font-size: 1.2rem;
        margin: 0;
    }
    h3
    {
        font-size: 0.8rem;
        margin: 0;
        font-weight: 300;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}
.commander-bouton h2
{
    font-size: 1rem;
}
.commander-bouton {
    padding-top: 34px;
    padding-bottom: 90px;
    padding-right: 70px;
    padding-left: 70px;
    display: grid;
    align-content: center;
}
.bouton-nouveau
{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    height: 100%;
    background-color: $colour-tertiary;
    position: relative;
    right: 122px;
    bottom: -20px;
    display: flex;
    flex-direction: row;
    h2 {
        margin: 0;
        font-family: 'roboto', sans-serif;
        font-size: 1rem;
        color: #1f8d6e;
    }
}
.image-nouveau
{
    display: flex;
}