.entree {
  background-color: white;
  border-radius: 15px;
  font-weight: 100;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: apparition 5s;
          animation: apparition 5s;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.entree__detail {
  width: 90%;
  padding: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.entree__bouton {
  background-color: #99E2D0;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.entree:hover .entree__detail, .entree:hover .entree__bouton {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.entree h2 {
  font-size: 1.1rem;
  margin: 0;
}

.entree h3 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 300;
}

.entree h4 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plats {
  background-color: white;
  border-radius: 15px;
  font-weight: 100;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: apparition 18s;
          animation: apparition 18s;
  -webkit-transition: opacity 10ms;
  transition: opacity 10ms;
}

.plats__detail {
  width: 90%;
  padding: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.plats__bouton {
  background-color: #99E2D0;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.plats:hover .plats__detail, .plats:hover .plats__bouton {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.plats h2 {
  font-size: 1.1rem;
  margin: 0;
}

.plats h3 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 300;
}

.plats h4 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}

.desserts {
  background-color: white;
  border-radius: 15px;
  font-weight: 100;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: apparition 25s;
          animation: apparition 25s;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.desserts__detail {
  width: 90%;
  padding: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.desserts__bouton {
  background-color: #99E2D0;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.desserts:hover .desserts__detail, .desserts:hover .desserts__bouton {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.desserts h2 {
  font-size: 1.1rem;
  margin: 0;
}

.desserts h3 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 300;
}

.desserts h4 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}

.header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
}

.header h1 {
  font-size: 2.5rem;
}

.footer {
  background-color: #353535;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5rem;
  color: white;
}

.footer h2 {
  font-size: 1rem;
  width: 100%;
  font-style: italic;
  font-family: 'Shrikhand', cursive;
}

.footer h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
}

.footer #proposer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer #proposer i {
  padding-right: 15px;
}

.footer #partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer #partenaire i {
  padding-right: 8px;
}

body {
  margin: 0;
}

.fa-check-circle {
  color: white;
}

.fa-arrow-left {
  color: black;
  left: 23px;
  top: 27px;
  position: absolute;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #9356DC;
}

.bouton {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(#ff79da, #9356DC);
  border-radius: 30px;
  -webkit-box-shadow: 8px 7px 20px 0px rgba(169, 164, 164, 0.47);
          box-shadow: 8px 7px 20px 0px rgba(169, 164, 164, 0.47);
  padding: 2px 30px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.bouton:hover, .bouton:active {
  -webkit-box-shadow: 8px 7px 11px 0px rgba(84, 83, 83, 0.47);
          box-shadow: 8px 7px 11px 0px rgba(84, 83, 83, 0.47);
  background: #FF79DA;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 2px solid #cdcdcd;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #eaeaea;
}

.localisation h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .localisation h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .localisation h2 {
    font-size: 1.3rem;
  }
}

.localisation .fas {
  font-size: 1.1rem;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .localisation .fas {
    font-size: 1.3rem;
  }
}

.bouton-nouveau {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  height: 100%;
  background-color: #99E2D0;
  position: relative;
  margin-left: -117px;
  bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bouton-nouveau h2 {
  margin: 0;
  font-family: 'roboto', sans-serif;
  font-size: 1rem;
  color: #1f8d6e;
}

.recherche-bouton {
  padding-top: 20px;
}

.recherche-bouton h2 {
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .recherche-bouton h2 {
    font-size: 1.4rem;
  }
}

.commander-bouton {
  padding-top: 34px;
  padding-bottom: 90px;
  padding-right: 70px;
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commander-bouton h2 {
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .commander-bouton h2 {
    font-size: 1.4rem;
  }
}

.image-nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coeur .fas {
  display: none;
  opacity: 1;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.coeur:hover .fa-heart {
  display: none;
}

.coeur:hover .fas {
  display: initial;
  color: #ff79da;
  -webkit-animation: coeurplein 1500ms infinite;
          animation: coeurplein 1500ms infinite;
}

@-webkit-keyframes coeurplein {
  from, to {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes coeurplein {
  from, to {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.loading-bg {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: masque-loading-bg 4s;
          animation: masque-loading-bg 4s;
}

.loading-bg .loading-spinner {
  font-size: 5rem;
  color: #9356DC;
  -webkit-animation: loading-spinner 2s infinite;
          animation: loading-spinner 2s infinite;
}

@media (min-width: 768px) and (max-width: 992px) {
  .loading-bg .loading-spinner {
    font-size: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .loading-bg .loading-spinner {
    font-size: 15rem;
  }
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes masque-loading-bg {
  0% {
    z-index: 10001;
    opacity: 1;
  }
  70% {
    z-index: 10001;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes masque-loading-bg {
  0% {
    z-index: 10001;
    opacity: 1;
  }
  70% {
    z-index: 10001;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.restaurant-nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 30px;
}

.restaurant-nom__titre {
  font-family: 'Shrikhand', cursive;
  font-style: italic;
  font-size: 1.5rem;
}

.titre {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.restaurant-menu {
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: -38px;
}

.liste-restaurants {
  background: #f6f6f6;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recherche p {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.recherche h2 {
  font-weight: 300;
  font-size: 1.1rem;
  padding-right: 10px;
  padding-left: 10px;
}

.fonctionnement {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nchoix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #9356DC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  width: 30px;
  border-radius: 100%;
  position: relative;
  top: 23px;
  right: 0;
  left: -10px;
  bottom: -10px;
}

.nchoix h2 {
  color: white;
}

.choix {
  background: #f6f6f6;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  -webkit-box-shadow: 4px 4px 6px #dfe1e1;
          box-shadow: 4px 4px 6px #dfe1e1;
  border-radius: 30px;
  margin-bottom: 20px;
}

.choix h2 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.choix:hover {
  background-color: RGBA(147, 86, 220, 0.15);
}

.choix:hover i {
  color: #9356DC;
}

.nchoix-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nchoix-texte i {
  margin-right: 20px;
  font-size: 1.5rem;
  color: gray;
}

.restaurant {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: white;
}

.restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  margin: 0;
}

figure img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figcaption h2 {
  font-size: 1.2rem;
  margin: 0;
}

figcaption h3 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

#titre-desserts {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  padding-left: 15px;
}

#titre-desserts h2 {
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.fond-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}

.restaurant-entree__titre {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  padding-left: 15px;
}

.restaurant-entree__titre h2 {
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.fa-heart {
  font-size: 1.5rem;
}

.p2prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#titre-plats {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  padding-left: 15px;
}

#titre-plats h2 {
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */