.entree
{
    background-color: white;
    border-radius: 15px;
    font-weight: 100;
    margin: 10px;
    display: flex;
    animation:apparition 5s;
    transition: opacity 1000ms;
    &__detail
    {
        width: 90%;
        padding: 10px;
        transform-origin: left;
        transform:scaleX(1.1);
        transition: transform 800ms;
    }
    &__bouton
    {
        background-color: $colour-tertiary;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform-origin: right;
        transform:scaleX(0);
        transition: transform 800ms;
    }
    &:hover &__detail, &:hover &__bouton
    {
        transform:scaleX(1);
        
    }

    h2 {
        font-size: 1.1rem;
        margin: 0;
        @include desktop
        {
            font-size: 1.3rem;
        }
    }
    h3
    {
        font-size: 0.8rem;
        margin: 0;
        font-weight: 300;
        @include desktop
        {
            font-size: 1rem;
        }
    }
    h4 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}
@keyframes apparition
{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.plats
{
    background-color: white;
    border-radius: 15px;
    font-weight: 100;
    margin: 10px;
    display: flex;
    animation:apparition 18s;
    transition: opacity 10ms;
    &__detail
    {
        width: 90%;
        padding: 10px;
        transform-origin: left;
        transform:scaleX(1.1);
        transition: transform 800ms;
    }
    &__bouton
    {
        background-color: $colour-tertiary;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform-origin: right;
        transform:scaleX(0);
        transition: transform 800ms;
    }
    &:hover &__detail, &:hover &__bouton
    {
        transform:scaleX(1);
        
    }

    h2 {
        font-size: 1.1rem;
        margin: 0;
    }
    h3
    {
        font-size: 0.8rem;
        margin: 0;
        font-weight: 300;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}
.desserts
{
    background-color: white;
    border-radius: 15px;
    font-weight: 100;
    margin: 10px;
    display: flex;
    animation:apparition 25s;
    transition: opacity 1000ms;
    &__detail
    {
        width: 90%;
        padding: 10px;
        transform-origin: left;
        transform:scaleX(1.1);
        transition: transform 800ms;
    }
    &__bouton
    {
        background-color: $colour-tertiary;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform-origin: right;
        transform:scaleX(0);
        transition: transform 800ms;
    }
    &:hover &__detail, &:hover &__bouton
    {
        transform:scaleX(1);
        
    }

    h2 {
        font-size: 1.1rem;
        margin: 0;
    }
    h3
    {
        font-size: 0.8rem;
        margin: 0;
        font-weight: 300;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}