#restaurant-nom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    padding-left: 15px;
    padding-right: 30px;
}