.footer
{
    background-color: #353535;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.5rem;
    color: white;

        h2 {
        font-size: 1rem;
        width: 100%;
        font-style: italic;
        font-family: 'Shrikhand', cursive;
        @include desktop
        {
            font-size: 1.5rem;
        }
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            margin: 0;
        }
        #proposer
        {
            display: flex;
            align-items: baseline;
            i
            {
                padding-right: 15px;
            }
        }
        #partenaire
        {
            display: flex;
            align-items: baseline;
                i
                {
                    padding-right: 8px;
                }
        }
}