.header
{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Shrikhand", cursive;
    font-size: 1.2rem;
    @include tablette {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    @include desktop {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}