.restaurant-menu
{
    background-color: $colour-background-light;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: -38px;
}
.liste-restaurants
{
    background: $colour-background-light;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.recherche
{
    display:flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color:$colour-background-light;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    p {
        font-size: 1.5rem;
        font-weight: bold;
        padding-right: 10px;
        padding-left: 10px;
    }
    h2 {
        font-weight: 300;
        font-size: 1.1rem;
        padding-right: 10px;
        padding-left: 10px;
        @include desktop
        {
            font-size: 1.3rem;
        }
    }
}
.fonctionnement
{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}


.nchoix
{
    display :flex;
    background:$colour-primary;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    width: 30px;
    border-radius: 100%;
    position: relative;
    top: 23px;
    right: 0;
    left: -10px;
    bottom: -10px;
        h2 {
            color: white;
        }
    }
.choix
{
    background: $colour-background-light;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    box-shadow: 4px 4px 6px $colour-shadow;
    border-radius: 30px;
    margin-bottom: 20px;
        h2
        {
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            @include desktop
            {
                font-size: 1.5rem;
            }
        }
        &:hover
        {
            background-color: RGBA(147,86,220,0.15);
        i
            {
                color: #9356DC;
            }
        }
}
.nchoix-texte
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    i  {
        margin-right: 20px;
        font-size: 1.5rem;
        color: gray;
        @include desktop
        {
            font-size: 1.9rem;
        }
    }
}
.restaurant
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    img {
        object-fit: cover;
    }
}
figure
{
    margin: 0;
}
figure img
{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


figcaption
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;

        h2 {
            font-size: 1.2rem;
            margin: 0;
        }
        h3 {
            font-size: 1rem;
            font-weight: lighter;
            margin: 0;
        }
}

#titre-desserts
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding-left: 15px;
    h2 {
        font-weight: lighter;
        border-bottom: 3px solid $colour-tertiary;
        width: 50px;
        @include desktop
        {
            font-size: 1.5rem;
        }
    }
}
.fond-restaurant
{
        img
        {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
}
.restaurant-entree__titre
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding-left: 15px;
    h2 {
        font-weight: lighter;
        border-bottom: 3px solid $colour-tertiary;
        width: 50px;
        @include desktop
        {
            font-size: 1.5rem;
        }
    }
}
.fa-heart
    {
        font-size: 1.5rem;
}

.p2prix
{
    display: flex;
    justify-content: space-between;
}
#titre-plats
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding-left: 15px;
    h2 {
        font-weight: lighter;
        border-bottom: 3px solid $colour-tertiary;
        width: 50px;
        @include desktop
        {
            font-size: 1.5rem;
        }
    }
}